@import '../../layouts/vars'

.Auth
	position: relative
	background-color: $bg

	section
		padding: 0

	.title
		margin-bottom: 35px

	.container
		max-width: 405px

	.Input
		margin-bottom: 20px

	.Button
		margin-top: 40px

	&__form-error
		color: $red